@using TelegramDownloader.Data
@using TelegramDownloader.Models
@using TelegramDownloader.Services

@inject TransactionInfoService tis

<Grid @ref="grid"
TItem="DownloadModel"
Class="table table-hover table-bordered table-striped"
DataProvider="DownloadsDataProvider"
AllowFiltering="false"
AllowPaging="true"
AllowSorting="false"
Responsive="true">

    <GridColumn TItem="DownloadModel" HeaderText="ID" PropertyName="id" SortString="id" SortKeySelector="item => item.id" FilterTextboxWidth="50" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
        @context.id
    </GridColumn>
    <GridColumn TItem="DownloadModel" HeaderText="File" PropertyName="name"  HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center">
        @context.name
    </GridColumn>
    <GridColumn TItem="DownloadModel" HeaderText="channel" PropertyName="channelName" FilterTextboxWidth="80">
        @context.channelName
    </GridColumn>
    <GridColumn TItem="DownloadModel" HeaderText="Progress" PropertyName="progress"  FilterTextboxWidth="100">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @context.progress%;" aria-valuenow="@context.progress" aria-valuemin="0" aria-valuemax="100">@context.progress%</div>
        </div>
    </GridColumn>
    <GridColumn TItem="DownloadModel" HeaderText="Size" FilterTextboxWidth="120">
        @context._transmittedString of @context._sizeString
    </GridColumn>
    <GridColumn TItem="DownloadModel" HeaderText="Actions">
        @if (context.state == StateTask.Working && !isPending)
        {
            <td><button class="btn btn-danger" @onclick="() => cancel(context)" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel task"><i class="bi bi-x"></i></button></td>
        }

        @if (context.state == StateTask.Canceled || context.state == StateTask.Error)
        {
            <td>
                <div class="btn-group" role="group">
                    @if(!isPending) {
                        <button class="btn btn-info" @onclick="() => retry(context)" data-bs-toggle="tooltip" data-bs-placement="top" title="retry task"><i class="bi bi-arrow-clockwise"></i></button>
                    }
                    <button class="btn btn-danger" @onclick="() => deleteDownload(context)" data-bs-toggle="tooltip" data-bs-placement="top" title="delete task"><i class="bi bi-trash"></i></button>
                </div>
            </td>
        }
        @if(isPending) 
        {
            <td>
                <div class="btn-group" role="group">
                    <button class="btn btn-danger" @onclick="() => deleteDownload(context)" data-bs-toggle="tooltip" data-bs-placement="top" title="delete task"><i class="bi bi-trash"></i></button>
                </div>
            </td>
        }
    </GridColumn>

</Grid>

@code {
    [Parameter]
    public bool isPending { get; set; } = false;
    public static List<DownloadModel> ldm = new List<DownloadModel>();
    BlazorBootstrap.Grid<DownloadModel> grid = default!;

    protected override async Task OnInitializedAsync()
    {
        checkNewEventsHandler();
        TransactionInfoService.EventChanged += eventChangedNew;
    }

    private async Task<GridDataProviderResult<DownloadModel>> DownloadsDataProvider(GridDataProviderRequest<DownloadModel> request)
    {
        await getDownloadModels(request.PageNumber - 1, request.PageSize, ldm.Count() == 0);
        int totalUploads = tis.getTotalDownloads(isPending);
        return await Task.FromResult(new GridDataProviderResult<DownloadModel> { Data = ldm ?? new List<DownloadModel>(), TotalCount = totalUploads });//request.ApplyTo(uploads));
    }

    private async Task cancel(DownloadModel dm)
    {
        //um.thread.Interrupt();
        dm.Cancel();
        await InvokeAsync(StateHasChanged);
    }

    private async Task retry(DownloadModel dm)
    {
        //um.thread.Interrupt();
        dm.RetryCallback();
        await InvokeAsync(StateHasChanged);
    }

    private async Task deleteDownload(DownloadModel um)
    {
        if (isPending) {
            tis.deletePendingDownloadInList(um);
            return;
        }
        tis.deleteDownloadInList(um);
    }


    private void checkNewEventsHandler()
    {
        foreach (DownloadModel dm in ldm)
        {
            if (dm.progress != 100)
                dm.EventChanged += eventChanged;
            else
                dm.EventChanged -= eventChanged;
        }

    }

    private async Task getDownloadModels(int pageNumber, int pageSize, bool mustCallEnventHandler = false)
    {
        ldm = tis.GetDownloadModels(pageNumber, pageSize, isPending);
        if (mustCallEnventHandler)
            checkNewEventsHandler();
    }

    void eventChanged(object sender, DownloadEventArgs e)
    {
        grid.RefreshDataAsync();
    }

    void eventChangedNew(object sender, System.EventArgs e)
    {
        checkNewEventsHandler();
        grid.RefreshDataAsync();
    }
}
